.artwork_piece {
  $zoom-transition-duration: 0s;
  display: flex;
  justify-content: center; // max-height: 100vh !important;
  max-width: 100vw !important;
  min-width: 100%;
  position: relative; // .zoom-wrap {
  //     display: inline-block;
  //     max-height: 100%;
  //     position: relative;
  //     text-align: center;
  .image-wrap {
    display: inline-block;
    max-height: 100%;
    max-width: 100%; // overflow: hidden;
    position: relative;
    text-align: center;
    .main-img {
      max-height: 100vh;
      position: relative;
      transition-duration: $zoom-transition-duration;
      transition-property: opacity;
    }
    // .zoomy-wrap {
    //     display: block;
    //     position: relative;
    //     margin: 0 auto;
    // }
    .caption {
      display: inline-block;
      margin-right: 1%;
      width: calc(100% - 131px);
    }
    .artwork-meta {
      display: flex; // position: absolute;
      position: static;
      text-align: left; // top: 100%;
      width: 100%;
      .caption p {
        margin: 0;
        text-align: justify;
      }
      .actions {
        position: absolute;
        right: 0;
        flex-grow: 0;
        flex-shrink: 0;
        transition-duration: .5s;
        z-index: 20;
        div {
          display: inline-block;
          height: 30px;
          width: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    @media screen and (min-width: $main-content-max-width) {
      min-width: $main-content-max-width;
    }
    .piece-comparison {
      $piece-comparison-padding: 3vh;
      background: #fff;
      display: flex;
      left: 0;
      margin: 0;
      padding: 0;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateY(110vh);
      transition-duration: .5s;
      z-index: 400;
      height: 100vh;

      .piece-comparison-wrap {
        align-items: flex-end;
        display: flex;
        height: 100%;
        justify-content: space-around;
        margin: $piece-comparison-padding $piece-comparison-padding 0 $piece-comparison-padding;
        //margin: 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
      }

      .comparison-image-wrap {
        align-items: center;
        flex-direction: column;
        flex-grow: 0;
        float: left;
        display: flex;
        justify-content: flex-end;
        max-height: 100%;
        //overflow: hidden;
        padding-bottom: $piece-comparison-padding;
        position: relative;
        .comparison-image {
          flex-shrink: 1;
          height: auto;
          max-height: none;
          max-width: none;
          width: 100%;
        }
        .info-text {
          p {
            display: inline;
          }
        }
      }
      .compared-to {
        float: right;
        height: auto;
        max-height: none;
        max-width: none;
        width: 30vw;
      }
      .close {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }
  &.show-info {
    .piece-comparison {
      transform: translateY(0vh);
    }
  }
  .image-centered-background {
    // background: rgba(0, 0, 0, .9);
    bottom: 0;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    position: relative;
    transition-duration: .25s;
    z-index: 1;
  }
  .zoomy-wrap {
    z-index: 10;
    position: absolute;
    top: 0;
    .mouse-map {
      background-repeat: no-repeat;
      height: 100%; // left: 0;
      opacity: 0;
      transition-duration: $zoom-transition-duration;
      transition-property: opacity;
      width: 100%;
      &:hover {
        cursor: zoom-in;
      }
    }
  }
  &.zoomed {
    .mouse-map {
      opacity: 1 !important;
      &:hover {
        cursor: zoom-out;
      }
    }
    .main-img {
      opacity: 0;
    }
  }
  &.centered {
    // .main-img {
    //   position: fixed;
    //   top: 50%;
    //   left: 50%;
    //   right: 0;
    //   z-index: 2;
    //   transform: translate(-50%, -50%) perspective(1px);
    // }
    // .zoomy-wrap {
    //   left: 0;
    // } // .dev-share-buttons, .mouse-map{
    // .zoomy-wrap {
    //   position: fixed;
    //   top: 50%;
    //   left: 50%;
    //   right: 0;
    //   z-index: 2;
    //   transform: translate(-50%, -50%) perspective(1px);
    // }
    .artwork-meta {
      align-items: flex-end;
      height: auto;
      left: 0;
      right: 0;
      transition-duration: .25s;
      transition-property: opacity;
      top: unset;
      width: 1129px;
      position: absolute;
      bottom: 0;
      height: auto;
      z-index: 100; // width: calc(95% - 200px) !important;
      width: 100%;
      .actions {
      }
      .caption {
        margin-right: 0;
        p {
          color: #fff;
          padding: 20px;
          background: rgba(0, 0, 0, .8);
          opacity: 0;
        }
      }
    }
  }
  &:not(.zoomed) {
    .artwork-meta {
      &:hover {
        bottom: 0;
        .caption p {
          opacity: 1;
        }
      }
    }
  }
  &.centered-image-transition-duration {
    .main-img {
      // transition-duration: .25s;
    }
  }
}

body.orientation-landscape {
  .artwork_piece {
    .zoom-wrap {
      img {
      }
    }
  }
}

body.artworks-processed {
  .artwork_piece {
    width: 100vw;
  }
}

body {
  &.centered-image-background-show {
    .main > div {
      transition-duration: .25s;
    }
    .image-centered-background {
      position: fixed !important;
    }
    .main-img {
      z-index: 2;
    }
    .mouse-map {
      z-index: 2;
    }
  }
  &.centered-image {
    .image-centered-background {
      opacity: 1 !important;
    }
    .actions div {
      // color: #fff;
    }
    .main > div {
      opacity: 0;
      &.centered {
        opacity: 1 !important;
      }
    }
  }
  &.is-touch {
    &.zoomed {
      overflow: hidden;
    }
  }
  &.viewport-resizing {
    .artwork_piece {
      max-width: 100% !important;
    }
  }
  &.orientation-landscape {
    .centered {
      .image-wrap {
        .caption {
          width: 100%;
        }
        .actions {
          bottom: 0 !important;
          position: fixed;
          right: -1px !important;
          top: unset;
          > div {
            display: block;
          }
        }
      }
    }
    &.zoomed {
      .artwork-meta {
        z-index: 0;
      }
    }
  }
  &.orientation-portrait {
  }
}
